
#card1 {
    display: inline-block;
    position: absolute ;
    width: 350px;
    height: 354px;
    left: 240px;
    top: 1224px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    line-height: 38px;
}

#male-doctor-card {
    width: 250px;
    height: 250px;
}

#card2 {
    display: inline-block;
    position: absolute;
    width: 350px;
    height: 354px;
    left: 624px;
    top: 1224px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    line-height: 38px;
}

#card3 {
    display: inline-block;
    position: absolute;
    width: 350px;
    height: 354px;
    left: 1010px;
    top: 1224px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    line-height: 38px;
}

#card4 {
    display: inline-block;
    position: absolute;
    width: 350px;
    height: 354px;
    left: 240px;
    top: 1615px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    line-height: 38px;
}

#card5 {
    display: inline-block;
    position: absolute;
    width: 350px;
    height: 354px;
    left: 624px;
    top: 1615px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    line-height: 38px;
}

#card6 {
    display: inline-block;
    position: absolute;
    width: 350px;
    height: 354px;
    left: 1010px;
    top: 1615px;
    background: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    line-height: 38px;
}

footer {
    position: absolute;
    width: 1600px;
    height: 432px;
    left: 0px;
    top: 5438px;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

#company {
    position: absolute;
    left: 45.38%;
    right: 30.19%;
    top: 20%;
    bottom: 1.86%;

    font-family: 'Mulish', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
}

#region {
    position: absolute;
    left: 62.19%;
    right: 13.38%;
    top: 20%;
    bottom: 1.86%;

    font-family: 'Mulish', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;

    /* or 211% */

    color: #FFFFFF;


}

#help {
    position: absolute;
    left: 76.75%;
    right: -1.19%;
    top: 20%;
    bottom: 1.86%;

    font-family: 'Mulish', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;

    /* or 211% */

    color: #FFFFFF;

    mix-blend-mode: normal;
}

#trafalgar-paragraph {
    position: absolute;
    left: 11.88%;
    right: 63.69%;
    top: 30%;
    bottom: 2.93%;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;


    color: #FFFFFF;

    mix-blend-mode: normal;
}

#trafalgar-pty {
    position: absolute;
    left: 11.88%;
    right: 63.69%;
    top: 62%;
    bottom: 1.93%;

    font-family: 'Mulish', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;



    color: black;

    mix-blend-mode: normal;
}


#trafalgar-header {
    position: absolute;
    left: 15.25%;
    right: 78.06%;
    top: 15.75%;
    bottom: 4.74%;

    font-family: 'Mulish', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;

    mix-blend-mode: normal;
}