#rowspan {
    margin-right: 50px;
}

#colspan {
    margin-left: -30px;

}

#sum {
    background-color: hotpink ;
}

#thead{
    text-align: center;
    background-color: gold;
    margin-left: 500px;
}

th,td, thead {
    border: 1px solid grey;
}

table{
    background-color: coral;
}