#rowspan {
    margin-right: 50px;
}

#colspan {
    margin-left: -30px;

}

#sum {
    background-color: hotpink;
}

#thead {
    text-align: center;
    background-color: gold;
    margin-left: 500px;
    width: 100%;
}

th, td, thead {
    border: 1px solid grey;
}

table {
    background-color: coral;
}

table, th, td {
    border: 1px solid black;
}

#second-table {
    width: 100%;
    margin: auto;
}


img {
    max-width: 100%;
    height: auto;
}

#forward {
    font-family: roboto-regular;
}

.menu{
    display: flex;
   justify-content: space-around;
}

#tell-about {
    width: 100%;

}

